.btn-primary,.btn-secondary
{
    display: inline-block;
    background-color: lighten($button-color,30%);
    padding: 15px;
    border-radius: 15px;
    color:$text-color;
    margin-right: 12px;
    border: 2px solid rgb(0,0,0);
    font-size: 25px;

    &:hover
    {
        background-color: $button-color-hover;
        border:2px solid white;
        color: black;
    }
    
}

