//Variable

// --COLOR
$body-color:#2d3436;
$heading-color:white;
$primary-color:white;
$button-color: #0984e3;
$footer-color:#ff7675;
$text-color:white;
$button-color-hover:#fd79a8;
$links-color:$heading-color;
$links-color-hover :yellow;

// --FONT
$body-font:helvetica,sans-serif;